<!DOCTYPE html>
<style>
    .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
</style>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"> <span style="color: #5e6464;"><h2> <strong>Connect</strong></h2></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav ms-auto mb-3 mb-lg-0">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'feed' %}">Feed</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href=""><img src="#" height="30px" width="30px" style="border-radius: 30px;" alt=""></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{request.user}}
            
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'view-profile' request.user.id %}">View Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'profile-edit' request.user.id %}">Edit profile</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'index' %}"><i class="fa-solid fa-user"></i></a>
          </li>
          {% endif %}
          <li class="nav-item">
            <div style="width: 60px;"></div>
          </li>
        </ul> -->
        <form class="d-flex">
          
        </form>
      </div>
    </div>
  </nav>
    <section class="vh-100">
        {% if messages %}

      {% for message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
      
      {% endfor %}
  
  {% endif %}
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://bulk.ly/wp-content/uploads/2021/06/social-media-sites.jpg"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form method="POST">{% csrf_token %}
                
      
               
      
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Username</label>
                  <input type="name" id="form3Example3" name="username" class="form-control form-control-lg"
                    placeholder="Enter a valid email address" />
                  
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example4">Password</label>
                  <input type="password" id="form3Example4" name="password" class="form-control form-control-lg"
                    placeholder="Enter password" />
                  
                </div>
      
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Checkbox -->
                  <div class="form-check mb-0">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                    <label class="form-check-label" for="form2Example3">
                      Remember me
                    </label>
                  </div>
                  <a href="#!" class="text-body">Forgot password?</a>
                </div>
      
                <div class="text-center text-lg-start mt-4 pt-2">
                 <input type="submit" class="btn " style="padding-left: 2.5rem; padding-right: 2.5rem;color: rgb(248, 242, 242);background-color: rgb(92, 92, 188);" value="Login">
                  
                  <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'reg' %}"
                      class="link-danger">Register</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>
       
      </section>
</body>
</html>